@import "./variables";
@import "./mixins";
@import "./key";

body {
  @include zero-space;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  p,
  h6 {
    @include zero-space;
  }

  .btn {
    @include no-border;
    padding: map-get($padding, 2);
    padding-left: map-get($padding, 3);
    padding-right: map-get($padding, 3);
    border-radius: map-get($radius, 1);
    font-size: $tiny-font;
    text-transform: uppercase;
    color: $white;
    cursor: pointer;

    &:hover {
      background-color: $info;
    }
  }

  .primary-btn {
    background-color: $primary;
  }

  .danger-btn {
    background-color: $danger;
  }

  .disable-btn {
    background-color: $light-grey;
    cursor: not-allowed;
  }

  .info-box {
    @include info-box;
    background-color: $info;
  }

  .error-box {
    @include info-box;
    background-color: $danger;
  }
}
