@import "./mixins";
@import "./key";
@import "./variables";

.homepage {
  height: 100vh;

  #{&}-movie-container {
    @include flex(row);
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    margin-top: 15px;

    @media screen and (max-width: $breakpoint-mobile) {
      width: 90%;
    }

    .card {
      @include flex-not-center(row);
      margin-bottom: 15px;

      img {
        height: 300px;
        width: 225px;

        @media screen and (max-width: $breakpoint-mobile) {
          height: 200px;
          width: 135px;
        }
      }

      .metadata {
        @include flex-not-center(column);
        margin-left: map-get($margin, 2);
        width: 100%;

        h5 {
          flex-grow: 0.9;
        }

        .detail-content {
          // flex-grow: 0.7;
          // margin-bottom: map-get($margin, 1);

          p {
            font-size: $small-font;
          }
        }

        .detail-container {
          @include flex(row);
          border-top: 1px solid $light-grey;
          justify-content: space-between;
          margin: 0 10px;
          padding-top: 10px;
          padding-bottom: 10px;

          .year {
            color: $light-grey;
          }
        }
      }
    }
  }

  #{&}-pagination {
    @include flex(row);
    flex-wrap: nowrap;
    // width: 70%;
    margin: 0 auto;
    margin-top: 15px;

    @media screen and (max-width: $breakpoint-mobile) {
      width: 90%;
    }
  }

  #{&}-pagination-cotainer {
    @include flex(row);

    @media screen and (max-width: $breakpoint-mobile) {
      display: none;
    }

    button {
      margin-right: 5px;
      margin-left: 5px;
    }
  }

  #{&}-pagination-cotainer-mobile {
    @media screen and (min-width: $breakpoint-mobile) {
      display: none;
    }

    select {
      @include no-border;
    }
  }
}
