$font-weight: (
  "regular": 300,
  "medium": 500,
  "bold": 700,
);

$margin: (
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 20px,
);

$padding: (
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 20px,
);

$radius: (
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 20px,
);
