@mixin zero-space {
  margin: 0;
  padding: 0;
}

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-not-center($direction) {
  display: flex;
  flex-direction: $direction;
  // justify-content: space-around;
  // align-items: center;
}

@mixin no-border {
  border: none;
  outline: none;
}

@mixin info-box {
  margin: 15px;
  padding: 15px;
  width: 75%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  color: $white;
}
