// Fonts
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

// Font Size
$tiny-font: 10px;
$small-font: 12px;
$normal-font: 14px;
$medium-font: 16px;
$large-font: 20px;

// Colors
$white: #ffffff;
$light-grey: #cccccc;
$primary: #0275d8;
$danger: #d9534f;
$info: #5bc0de;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
